:root {
  /* colors */
  --primary: #007fa3;
  --onPrimary: #fff;
  --surface: #fff;
  --onSurface: #000;
  --background: #f6f8fa;
  --border: #2f363d;

  /* sizes */
  --border-radius: 0.25rem;
  --line-height: 1.618;
}
body {
  margin: 0;
  color: var(--onSurface);
  font-family: 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui,
    -apple-system sans-serif;
  line-height: var(--line-height);

  background-color: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
